/* Styles for the Home React component */
.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .home__bg {
    background-size: cover;
    width: 100%;
    height: 100%;
    background-image: url("./static/background.jpg");
  }

  .home_banner {
      float: left;
      position: relative;
      left: 800px;
      top: 150px;
      /* border: 2px rgb(255, 255, 255) solid; */
      /* background: rgb(0, 248, 248); */
      /* height: 120px;       */
      /* height: 10%; */
  }
  
  .component__button-link {
    text-decoration: none;
  }
  
  .button {
    position: relative;
    top: 10px;
    left: -25px;
    /* width: 110px;
    height: 80px; */
    /* box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08); */
  }
  
  .button_log_reg {
    top: 10px;
    left: 22%;
    /* width: 110px;
    height: 80px; */
    /* box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08); */
  }
  
  
  /* Increase specificity to override component styles */
  .MuiButton-root.component__button:hover {
    background-color: #d454b8;
    border: 4px darkslategrey solid;
    border-radius: 0;
  }
  
  .MuiButton-label {
    font-size: 1.3em;
    /* color: rgb(255, 0, 191); */
    
  }
  