.bannerUzi {
    height: 100px;
    padding: 20px;
    background-color: aqua;
    position: relative;
    color: blue;
  }
  .buttonHome{
      background: aqua;
      float:right;
  }
  .backgroundColor{
      background:blue;
  }
    .h2me{
        text-align:center;
        color:white;
        font-size:1.7em;
    }
  body {
    color: blue;
    background-color: white;
    margin: 0px;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
  }
  th{
      padding: 10px;
      font-size: 1.5em;
  }
  table, th, td{
      table-layout:fixed;
      border-collapse: solid skyblue;
      border: 2px solid blue;
      background: skyblue;
  }
  th:hover{
      background:blue;
  }
  .table{
    margin:auto;
    margin-top: 30px;
    margin-left:50px;
    width: 700px;
    float:left
  }
  .rowDays{
    margin: auto;
    width: 100%;
    border: 2px solid blue;
  }
  .rowWeek{
      border:2px solid black;
      width:100%;
      background:rgb(51, 147, 226);
  }

  .calendarBanner{
      text-align: center;
      background: rgb(50, 76, 223);
      font-size: 2.5em;
      letter-spacing: 1px;
      color: white;
      padding:25px;
    }
    .currentDay{
        background: #3734f1;
        float:right;
        height:200px;
        width:500px;
        margin:20px;
        margin-top: 90px;
        padding:10px;
    }

    .myImage{
        border-radius: 50%;
        max-width: 100px;
        float:left;
        margin-left:50px;
    }

    .clinicName{
        position:absolute;
        font-size: 1.5em;
        margin-top: 20px;
        margin-left:170px;
        color: blue;
    }
    .clinicNumber{
        position:absolute;
        font-size: 1em;
        margin-top: 50px;
        margin-left:180px;
    }
    .timeSlot{
        width: 50%;
        margin:auto;
        background: rgb(97, 97, 177);
        margin-bottom: 3px;
        padding: 3px;
    }
    .topMarg{
        margin-top: 20px;
    }